# Created by pytest automatically.

#Firebase credentials
serviceAccountKey.json
*.json 

# Virtual and Cache

venv/
env/
ENV/
.pytest_cache/
.vscode/
.idea/
*.swp
*.swo          
.mypy_cache/       

# Python compiled files and temporary files

**/*.pyc           
**/*.pyo
**/*.pyd
**/*.egg
**/*.spec
*.log
**/__pycache__/   

# Coverage reports
.coverage
.coverage.*
coverage.xml
*.cover
htmlcov/

# Operating System files
.DS_Store
Thumbs.db