name: EPFL Life CI

# Run the workflow when commits are pushed on main or when a PR is modified
on:
  push:
    branches:
      - main

  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  app-ci:
    name: App CI
    runs-on: ubuntu-latest
    env:
      app_name: EPFLLifeDebug

    defaults:
      run:
        working-directory: ./${{ env.base_folder }}

    steps:
      # First step : Checkout the repository on the runner
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of Sonar analysis (if we use Sonar Later)

      # This step removes the current gradle cache to avoid any caching issues
      - name: Remove current gradle cache
        run: rm -rf ~/.gradle

      # Kernel-based Virtual Machine (KVM) is an open source virtualization technology built into Linux. Enabling it allows the Android emulator to run faster.
      - name: Enable KVM group perms
        run: |
         echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
         sudo udevadm control --reload-rules
         sudo udevadm trigger --name-match=kvm

      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "21"


      # Caching is a very useful part of a CI, as a workflow is executed in a clean environement every time,
      # this means that one would need to re-download and re-process gradle files for every run. Which is very time consuming.
      #
      # To avoid that, we cache the the gradle folder to reuse it later.
      - name: Retrieve gradle cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}

      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      # Load google-services.json and local.properties from the secrets
      - name: Decode secrets
        env:
          GOOGLE_SERVICES: ${{ secrets.GOOGLE_SERVICES }}
          LOCAL_PROPERTIES: ${{ secrets.LOCAL_PROPERTIES }}
          DEBUG_KEYSTORE: ${{ secrets.DEBUG_KEYSTORE }}
        run: |
          if [ -n "$GOOGLE_SERVICES" ]; then
            echo "$GOOGLE_SERVICES" | base64 --decode > ./app/google-services.json
          else
            echo "::warning::GOOGLE_SERVICES secret is not set. google-services.json will not be created."
          fi

          if [ -n "$LOCAL_PROPERTIES" ]; then
            echo "$LOCAL_PROPERTIES" | base64 --decode > ./local.properties
          else
            echo "::warning::LOCAL_PROPERTIES secret is not set. local.properties will not be created."
          fi

          if [ -n "$DEBUG_KEYSTORE" ]; then
            echo "$DEBUG_KEYSTORE" | base64 --decode > ./app/debug.keystore
          else
            echo "::warning::DEBUG_KEYSTORE secret is not set. debug.keystore will not be created."
          fi

      - name: Grant execute permission for gradlew
        run: |
          chmod +x ./gradlew

      # Install NodeJS
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 22

      # Install Firebase CLI
      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Firestore Security Rules tests
        run: |
          if [ ! -e "firebase.json" ]; then # Check if firebase.json exists
            echo "(B2 Warning): 'firebase.json' file is missing. Use 'firebase emulators:init'. Emulators are setup in B2"
            exit 0
          fi
          jq -e '.emulators' firebase.json >/dev/null || { # Check if emulators are configured
            echo "'firebase.json' is missing 'emulators'. Run 'firebase emulators:init'."
            exit 1
          }
          for e in auth firestore; do # Check if auth and firestore emulators are configured
            jq -e ".emulators.$e" firebase.json >/dev/null || {
              echo "'firebase.json' is missing 'emulators.$e'. Run 'firebase emulators:init'."
              exit 1
            }
          done
          if [ -e "firebase/firestore/firestore.rules" ]; then # Check if firestore.rules exists
            # Check if firestore.rules is referenced in firebase.json
            jq -e '.firestore.rules' firebase.json >/dev/null || {
              echo "'firebase.json' is missing 'firestore.rules'."
              exit 1
            }
            (cd firebase/firestore/test 2>/dev/null && npm install && npm test) || exit $?
          else
            echo "(B3 Warning): Firestore rules file not found in firebase/firestore. Rules are setup in B3, you can ignore this warning in B2."
          fi

      - name: KTFmt Check
        run: |
          # To run the CI with debug informations, add --info
          ./gradlew ktfmtCheck

      # This step runs gradle commands to build the application
      - name: Assemble
        run: |
          # To run the CI with debug information, add --info
          ./gradlew assembleDebug lint --parallel --build-cache
        env:
          DEBUG_KEYSTORE_PATH: ./debug.keystore
          MAPS_API_KEY: ${{ secrets.MAPS_API_KEY }}

      - name: Run tests
        run: |
          # To run the CI with debug information, add --info
          ./gradlew check --parallel --build-cache
        env:
          DEBUG_KEYSTORE_PATH: ./debug.keystore
          MAPS_API_KEY: ${{ secrets.MAPS_API_KEY }}

      - name: Run instrumentation tests
        timeout-minutes: 25
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 34
          target: google_apis
          arch: x86_64
          avd-name: github
          force-avd-creation: true
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none -skin 1080x2400
          disable-animations: true
          script: firebase emulators:exec --project epfl-life "./gradlew connectedCheck --parallel --build-cache"
        env:
          DEBUG_KEYSTORE_PATH: ./debug.keystore
          MAPS_API_KEY: ${{ secrets.MAPS_API_KEY }}

      # This step generates the coverage report which will be used later in the semster for monitoring purposes
      - name: Generate coverage
        run: |
          ./gradlew jacocoTestReport

      - name: Upload coverage
        uses: actions/upload-artifact@v4
        with:
          name: Coverage report
          path: app/build/reports/jacoco/jacocoTestReport

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: app/build/outputs/apk/debug/*.apk

  scraper-ci:
    name: Event scraper CI
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./${{ env.base_folder }}/event_scraper

    steps:
      # Get repo
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      # Install Python dependencies and run tests
      - name: Run Python tests
        run: |
          pip install -r requirements.txt
          pytest --cov=. --cov-report=xml

      - name: Upload coverage
        uses: actions/upload-artifact@v4
        with:
          name: Coverage report Python
          path: event_scraper/coverage.xml

  sonar-analysis:
    name: Sonar Analysis
    runs-on: ubuntu-latest
    needs: [app-ci, scraper-ci]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of Sonar analysis (if we use Sonar Later)

      # Shouldn't be here, but better safe than sorry
      - name: Remove current gradle cache
        run: rm -rf ~/.gradle

      # Load cache, or it would download all dependencies again
      - name: Retrieve gradle cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}

      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Grant execute permission for gradlew
        run: |
          chmod +x ./gradlew

      # The environment changed, so we have to download the artifacts again
      - name: Download Python coverage
        uses: actions/download-artifact@v4
        with:
          name: Coverage report Python
          path: ./python-coverage/

      - name: Download Android coverage
        uses: actions/download-artifact@v4
        with:
          name: Coverage report
          path: ./android-coverage/

      # This is what we actually want to do in this job
      - name: Sonar analysis
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        # Runs the gradle plugin
        # Need to make sure, that it is correctly configured
        # to find the coverage reports
        run: ./gradlew sonar --info
